html  {
    background-color: rgb(46, 46, 46)
}

.tab-pane {
    background-color: rgb(57, 58, 58);

}

.tab-content {
    background-color: rgb(57, 58, 58);
    border-bottom: 3px solid rgb(83, 83, 83);
}
.lead {
    color: white
}


.nav-item .nav-link.active {
    background-color: #40C7EB;
    border-bottom: 3px solid transparent;
    border-bottom: 3px solid white !important; 
}

.nav-item .nav-link:hover { 
    border-bottom: 3px solid white !important;
}

.float-right{
    position: absolute;
    right: 200px;
    top: 4px;
    z-index: 1;
}

.nav-item {
    background-color: #40C7EB;
    overflow: hidden;
}

.nav-item a .nav-item:hover{
    width: calc(20vw - 200px);
    border-bottom: 3px solid transparent;
    border-color: black;
    float: left;
    display: block;
}

.active {
    border: 0px !important;
    border-bottom: 3px solid black;
}

.nav-link{
    border: 0px !important;
}

.navbar{
    padding-bottom: 15px;
    padding-top:5px;
}

.collapse {
    background-color: #40C7EB;
}

.bg-dark {
    background-color: #40C7EB!important;
    padding:5px;
}

.btn-outline-success {
    color:white;
    border-color:white
}

.btn-light1 {
    margin-left: 50px;
    color: white;
    background-color: #555555;
    border: 1px solid white;
}

.btn-light {
    color: white;
    background-color: #555555;
    border: 1px solid white;
}

.btn-light:hover {
    color: black;
    background-color: #40C7EB;
    border: 1px solid #40C7EB;
}

.btn-light1:hover {
    color: black;
    background-color: #40C7EB;
    border: 1px solid #40C7EB;
}